html,body{
    height:100%
}
header{
    height: 60px;
}
.nav-container{
    background-color: #002B72;
    
    
}
.header-items{
    color:rgb(255, 255, 255);
}


.dropdown-item{
    color:#334; 
}
/* .aside{
   
    width:200px;
   

} */


.aside {
    width:200px;
    background-color: #f8f9fa; /* Light gray background */
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    border-radius: 4px; /* Rounded corners */
    padding: 60px 20px; /* Inner padding */
    /* margin-bottom: 20px; Space below the aside */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth hover effects */
}

/* Optional hover effect */
.aside:hover {
    transform: translateY(-3px); /* Slight upward movement */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Stronger shadow */
}
.driver-form{
    width:500px;
}

.route-view-data{
    width:60%;
}

.bg-color{
    background-color: #002B72;
}

.main-container{
    min-height: 80vh;
}












